body {
    padding: 0;
    margin: 0;
    /* background-color: rgba(128, 128, 128, 0.224); */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.5em 1em #88304E;
    background-color: white;
    position: fixed;
    width: 100%;
}

h2 {
    font-family: "kanit";
    color: #FF204E;
    cursor: default;
    
}

nav {
  
}

ul {
    display: flex;
    gap: 2.5em;
}

li {
     list-style: none;
}

.links-navbar {
    text-decoration: none;
    font-family: kanit;
    color:#FF204E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s ease;
    position: relative;
    font-weight: 700;
}

.links-navbar::after {
    content: ""; /* Contenido pseudo-elemento */
    position: absolute; /* Posición absoluta para colocarlo debajo del texto */
    left: 0;
    bottom: -2px; /* Espacio entre el texto y el subrayado */
    width: 100%; /* Ancho completo */
    height: 2px; /* Grosor del subrayado */
    background-color: #E23E57; /* Color del subrayado */
    transform: scale(0); /* Escala vertical inicial (no visible) */
    transform-origin: bottom; /* Origen de la transformación en la parte inferior */
    transition: transform 0.5s ease; /* Transición suave para la transformación */
}

.links-navbar:hover::after {
        transform: scaleX(1); /* Escala vertical completa al pasar el mouse (subrayado visible) */
}



main {
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.224);

    
}

.box {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.cont-box-one {
    /* width: 50%; */
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 0 7em; */
}

.cont-box-two {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.box-img-phone {
    display: none;
}

h1 {
    width: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5em;
    margin: 0;
    padding: 0;
    cursor: default;
}

#style {
    background: linear-gradient(to left, #E23E57, #88304E, #522546, #311D3F);
    color: transparent;
    background-clip: text;
    display: inline;
    animation: animated 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate-reverse; */
    width: 100%;
}

@keyframes animated {
    to {
        background-position: 500px;
    }
}

main i {
    font-size: 2.2em;
    color: black;
    margin: 0 0.5em;
}

main i:hover {
    color: #FF204E;
}


.p-about-me {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 40%;
    font-size: 1.2em;
    font-weight: 500;
}

span {
    color: #FF204E;
}

.img-me {
    width: 19em;
    height: 19em;
    border-radius: 40%;
    border: 2px solid;
    /* position: relative;
    bottom: 0.4em; */
}

.box-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-skills {
    border: 3px solid #FF204E;
    box-shadow: 0px 2px 10px;
    width: 30em;
    height: 7em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}


.p-skills {
    font-family: kanit;
    font-size: 1.6em;
    /* color: rgb(78, 77, 77); */
    font-weight: 600;
}

.icons {
    width: 50px;
}

.logo-2 {
    width: 60px;
    margin: 0;
    cursor: pointer;
}

.logo-2:hover {
    filter: contrast(200%);
    
}

label {
    display: none;
}

input {
    display: none;
}

.bars-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    display: none;
}


.bars-menu span {
    height: 1.5px;
    width: 30px;
    background-color: black;
    transition: transform 0.3s;
}

#menu-toggle:checked ~ .bars-menu span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);
}

#menu-toggle:checked ~ .bars-menu span:nth-child(2) {
opacity: 0;
}

#menu-toggle:checked ~ .bars-menu span:nth-child(3) {
    position: absolute;
    top: 0;
    transform: rotate(225deg);
} 

.img-phone {
    display: none;
}

.section-info {
    width: 100%;
    height: 80vh;
    display: flex;
    /* margin: 5em 0; */
    background-color: #6262621f;
}

.box-info {
    width: 100%;
    margin: 4em 0;
}

.texto-infinito {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Utiliza una fuente de ancho fijo para un efecto de escritura más realista */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    /* border-right: .15em solid orange; Efecto de escritura */
    width: fit-content; /* Ajusta el tamaño del contenedor al texto */
    animation: escribir 7s steps(40, end) infinite; /* Utiliza la función steps() para imitar la escritura letra por letra */
    animation-iteration-count: infinite;
    font-size: 1.7em;
    color: #FF204E;
    /* border: 3px solid #FF204E; */
    /* box-shadow: 5px 12px 10px;
    background-color: rgba(0, 0, 0, 0.932); */
    font-family: kanit;
  }
  
  /* @keyframes escribir {
   
  } */

.cont-one-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.tittle-box {
    display: flex;
    justify-content: center;
    font-family: kanit;
    font-size: 2em;
    margin: 0;
}

.about-me {
    color: #E23E57;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 2.2em;
    position: relative;
  display: inline-block;
}

.about-me::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Distancia del subrayado con respecto al texto */
    width: 100%; /* Ancho inicial del subrayado */
    height: 2px; /* Grosor del subrayado */
    background-color: #FF204E; /* Color del subrayado */
    transform: scaleX(0); /* Escala horizontal inicial del subrayado (invisible) */
    transform-origin: bottom left;
    transition: transform 0.3s ease; /* Transición suave de la animación */
    animation: sub1 3s;
    animation-iteration-count: infinite;
}

@keyframes sub1 {
    to {
        transform: scaleX(1); /* Escala horizontal final del subrayado (visible) */
  /* transform-origin: bottom right; */
    }
}





.box-description-me {
    width: 700px;
    height: 320px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: white;
    padding: 1.5em;
    border: 3px solid #FF204E;
    box-shadow: 0px 2px 10px;

}

.prueba {
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.section-projects {
    display: flex;
    width: 100%;
    height: 50vh;
    /* background-color: #522546; */
    
}

.box-projects {
   width: 100%;
}

.cont-box-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-contact {
    width: 100%;
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.box-contact {
    width: 570px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 3px solid #FF204E;
    box-shadow: 0px 2px 10px;
}

.contact {
    color: #E23E57;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 2.2em;
    margin: 0;
    position: relative;
  display: inline-block;
}

.contact::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Distancia del subrayado con respecto al texto */
    width: 100%; /* Ancho inicial del subrayado */
    height: 2px; /* Grosor del subrayado */
    background-color: #FF204E; /* Color del subrayado */
    transform: scaleX(0); /* Escala horizontal inicial del subrayado (invisible) */
    transform-origin: bottom left;
    transition: transform 0.3s ease; /* Transición suave de la animación */
    animation: sub 3s;
    animation-iteration-count: infinite;
}

@keyframes sub {
    to {
        transform: scaleX(1); /* Escala horizontal final del subrayado (visible) */
  /* transform-origin: bottom right; */
    }
}



.cont-contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.description-contact {
    font-family: kanit;
    width: 30%;
    font-size: 1.3em;
    text-align: center;
}

.box-contact i {
    font-size: 30px;
}

.box-contact p {
    font-family: kanit;
    font-size: 1.1em;
}

.box-contact i:hover {
    color: #FF204E;
}

.box-contact i:hover ~ p {
    color: #FF204E;
}

.box-contact p:hover {
    color: #FF204E;
}

.box-contact p:hover ~ i {
    color: #FF204E;
}

.icons-contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

section [id] {
    scroll-margin-top: 70px;
}

html {
    scroll-behavior: smooth;
}



@media (max-width: 600px) {
    .nav-menu {
         /* position: absolute;
        top: 50px;
        right: 5px;
        width: 100%;
        height: 100vh;
        /* background-color: white; */
        /* display: flex; */
        /* align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        gap: 0;
        transform: translate(200%);
        transition: all 0.4s ease;
        margin: 0;  */
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: white;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu_visible {
      left: 0;
    }

    .bars-menu {
        line-height: 60px;
        padding: 0 20px;
        background: none;
        
    }

    li {
        line-height: 70px;
    }

    .links-navbar {

    }


    /* #menu-toggle, ul:checked {
        opacity: 0;
    } */

    body {
        background-color: white;
    }

    /* label {
        display: block;
    } */
    
    header {
        justify-content: space-between;
        padding: 0 3em;
        position: fixed;
        width: 80%;
        z-index: 2;

    }

    nav {
        padding: 0;
    }
 
    

    main {
        display: flex;
        flex-direction: column;
        height: 102vh;
    }

    .box-img-phone {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        /* height: 40vh; */
        margin: 0.7em;
        padding: 0;

    }

    .cont-box-two {
        display: none;
    }

    .img-phone {
        width: 170px;
        border: 3px solid;
        border-radius: 30%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .box {
        flex-direction: column;
        height: 72vh;
        justify-content: center;
        align-items: center;
    }

    .p-about-me {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cont-box-one {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* margin: 1em; */
    }

    /* #menu-toggle:checked ~ ul {
        /* display: flex; */
        /* transform: translateX(0); */
    /* }  */

    h1 {
        text-align: center;
        font-size: 2.7em;
    }

    .box-skills {
        /* width: 220px; */
    }
    
    .cont-skills {
        width: 300px;
        height: 52px;
    }

    .icons {
        width: 30px;
        gap: 1;
    }

    .bars-menu {
        display: flex;
    }

    .box-description-me {
        width: 320px;
        height: 655px;
    }

    .section-info {
        height: 130vh;
    }

    .section-projects {
        height: 60vh;
    }

    .section-contact {
        height: 80vh;
    }

    .texto-infinito {
        font-size: 1.3em;
    }

    .description-contact {
        width: 90%;
    }

    .box-contact {
        width: 305px;
    }

    
}